@import "tailwindcss";

*{
  font-family: Outfit;
}


:root {
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
}

.font-outfit {
  font-family: var(--font-outfit);
}

.font-ovo {
  font-family: var(--font-ovo);
}